* {
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Lexend&family=Poppins:wght@200;300;400&family=Roboto+Mono:wght@100&display=swap');
.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
    padding: 0;
    background-color: #010d2f;
  }
  
  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #010d2f;
    color: #e7e7e7a5;
  }
  
  .about h2 {
    font-family: 'Fira Code', monospace;
    font-size: 25px;
    text-align: left;
    color: #28c98b;
    white-space: nowrap;
    margin-bottom: 0;
    
  }
  
  .about .prompt {
    width: 90%;
    font-size: 56px;
    text-align: left;
    margin-left: 65px;
    margin-top: 20px;
  }
  
  /* Style the second <p> in the .prompt */
  .about .prompt p:nth-child(2) {
    font-family: 'Lexend', sans-serif;
    color: #e7e7e7f2;
    margin-top: 25px;
    margin-bottom: -65px;
  }

  /*icons*/
  .prompt svg {
    font-size: 40px;
    margin: 5px;
    color: white;
    margin-right: auto;
    border: 1px solid #28c98b; /* Add a thin border around the icons */
    padding: 5px; 
  }
  
  .content {
    display: flex;
    flex-direction: row; /* Change from column to row */
    justify-content: flex-end; /* To space the child elements equally */
    
  }

  
.skills-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #f0f0f0; 
}
  .skills h1 {
    color: #28c98b;
    text-decoration: underline;
    font-size: 55px;
  }
  
  .skills .list {
    list-style: none;
    color: #e7e7e7a5;
    font-size: 30px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .list span {
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }

    .skills h2 {
      font-size: 30px;
    }
  }